<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.PersonMapper">


    <select id="getById"
            resultType="com.mybatis.Person"
            parameterType="map">

        select id, first_name as firstname
        from person where id= #(id)
    </select>

    <select id="all" resultType="com.mybatis.Person" parameterType="map">
       select id, first_name as firstname
          FROM person
    </select>

    <insert id="newPerson" keyColumn="id" keyProperty="person.id">
        <selectKey keyProperty="person.id" resultType="Long"
                   order="BEFORE">
            SELECT nextval('person_seq')
        </selectKey>

        INSERT INTO person (id, firstname) VALUES (#{person.id},#{person.firstname})
    </insert>
</mapper>